.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.inside-login {
    background-color: white;
    padding: 20px 10px;
    border-radius: 5px;

}

@media screen and (min-width:400px) {
    .inside-login {
        width: 300px;
    }
}

.login-header {
    border-bottom: 1px solid;
    padding-bottom: 4px;
}